body {
    background-size: cover;
}

.blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid tomato;
}

h1 {
    text-align: center;
    font-size: 90px;
    font-family: 'Sen', sans-serif;
    border: 2px solid tomato;
    background-color: olive;
}

#login_form {
    font-size: 30px;
    border: 6px solid teal;
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 100px 200px;
}

input {
    width: 100%;
    padding: 12px 20px;
}

button {
    width: 80px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-color: tomato;
    background-color: lightseagreen;
    padding: 12px 20px;
}

#frgt_psw {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#login {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.bloggif {
    float: right;
}
